<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Users</h1>
    <h2>List of users:</h2>
    <ul>
      <% availableUsers.forEach(function(user) { %>
        <li><%= user.firstname%>, <%=user.lastname%>, <%=user.email%> </li>
      <% }) %>
    </ul>
    </body>
</html>
